#Generic
*~
*.lock
*.out
*.swp
*.DS_store
\#*
*.\#*
Client/.metadata/*

#Ocaml
*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa

#Java
*.class

#Python
*.pyc

#Latex
*.aux
*.log